<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Review page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'review/style/app.css '%}">
</head>
<body>
    <div class='menu'>Menu</div>

    <div class='container'>
        <div class='page'>
          <div class='sidebar'>Sidebar</div>
          <div class='content'>
              Content

              <ul>
                {% for review in review_list %}
                <li class="avatar">
                    <p> ID: {{ review.id }} </p>
                    <p> Name: {{ review.name }} </p>
                    <p class="username"> Customer: {{ review.customer }} </p>
                    <p class="comment"> Comment: {{ review.comment}} </p>
                    <p> Rating: {{ review.rating}} </p>
                </li>
                {% endfor %}
            </ul>

          </div>
        </div>
    </div>

    <div class='footer'>
        <h5> Footer </h5>
        <div class='column'>
            <img src="{% static 'review/images/traveling.png '%}" class="article-image"/>
        </div>
        <div class='column'></div>
        <div class='column'></div>
    </div>

</body>
</html>