{% extends "home_page.html" %}
{% load static %}

{% block content%}


    <h3>Add Review | it is not working     d|-_-|b </h3>
<br>

    <form  action = "" method="post" class="col-md-4 mb-5" >
        {% csrf_token %}

        <label >Customer: {{request.user.first_name}}{{request.user.last_name}}</label>
        <div class="col-md-4 mb-5">
            <!--<input type="text" name="customer" />-->
            <!--<select customer="customer" />-->
            <!--<input  type="checkbox" list="customer" />-->
            <select name="customer">
                <option>{{request.user.email}}</option>
            </select>
        </div>

        <label>Hotel Review</label>
        <div class="col-md-4 mb-5">

            <input type="text" name="hotel_to_review"/>
        </div>

        <label>Comment</label>
        <div class="col-md-4 mb-5">
            <input type="text" name="comment"/>
        </div>

        <!--<label>Date</label>-->
        <!--<div class="col-md-4 mb-5">-->
            <!--<input type="text" name="date"/>-->
        <!--</div>-->


        <label>Stars</label>
        <div class="col-md-4 mb-5">
            <input type="text" name="stars"/>
        </div>


            <div class="col-md-4 mb-5">
            <input type="submit" name='Update' class="btn btn-green mt-4" value="Create">
        </div>

    </form>





{% endblock content%}


