
<h3>Adaugare unitate cazare</h3>

<form action="{% url 'hotel:submit' %}" method="post">
    {% csrf_token %}
    <div>
        <label>Name</label>
        <input type="text" name="name"/>
    </div>

    <div>
        <label>Location</label>
        <input type="text" name="location"/>
    </div>

    <div>
        <label>Owner</label>
        <input type="text" name="owner"/>
    </div>

    <div>
        <label>Room</label>
        <input type="text" name="room"/>
    </div>


    <div>
        <label>Review</label>
        <input type="text" name="review"/>
    </div>

    <div>
        <input type="submit" name="Submit"/>
    </div>

</form>