{% extends "home_page.html" %}
{% load static %}

{% block content%}

<!--Section: For the customer and owner-->
<div class="row">
    <div class="col-lg-4 col-md-4 mb-2">
    <h3> Details of the Hotel Presentation</h3>

    <p> Name: {{ hotel.name }}</p>
    <p> Location: {{ hotel.location }}</p>
    <p> Owner: {{ hotel.owner }}</p>
    <p>                         </p>
        <p> Stars: <big>{{ hotel.review }}</big></p>
    {% if user.is_staff %}
        {% if user == hotel.administrator %}
        <div>
            <a href="{% url 'hotel:delete' hotel.id %}" class="btn btn-red mt-3 mb-4"> Delete </a>
        </div>

    </div>
<!--Section: For the customer and owner-->

    <div class="col-lg-4 col-md-4 mb-2">
        <!--Section: For the owner-->

        <div class="row" style="color:green">
            <div class="col-lg-2 col-md-2 mb-4">
            <form action="{% url 'hotel:update' hotel.id %}" method="post" >
                {% csrf_token %}
                <div class="col-md-4 mb-3">
                    <label >Name</label>
                    <input type="text" name="name" value="{{ hotel.name }}"/>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Location</label>
                    <input type='text' name='location'  value='{{ hotel.location }}'/>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Owner</label>
                    <input type="text" name="owner" value="{{ hotel.owner }}"/>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Youtube</label>
                    <input type="text" name="youtube_video" value="{{ hotel.youtube_video }}"/>
                </div>

                <div class="col-md-4 mb-3">
                    <label>Review</label>
                    <input type="text" name="review" value="{{ hotel.review }}"/>
                </div>

                <div class="col-md-4 mb-3 ml-4">
                    <input type="submit" name="update" value="update" class="btn btn-green mt-4"/>
                </div>

                </form>
                </div>

        </div>
        {% endif %}
        {% endif %}
<!--Section: For the owner-->

    </div>
    <!--Section: Youtube Video-->
    <div class="col-lg-4 col-md-4 mb-2">

            <div class="embed-responsive embed-responsive-16by9">
                {% if hotel.youtube_video %}
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/{{ hotel.youtube_video }}"  allowfullscreen>
                    </iframe>
                {% else %}
                    <iframe class="embed-responsive-item"  src="https://www.youtube.com/embed/Qyca2RB9Kek"  allowfullscreen>
                    </iframe>
                {% endif %}

            </div>

    </div>
    <!--Section: Youtube Video-->
</div>

<div class="text-center">
    <a class="button"  href="{% url 'hotel:room' hotel.id  %}">
    <h1>  <i class="fas fa-star mr-1 " ></i> View Rooms </h1></a>

    <br>
        {% if user.is_authenticated %}

<div class="col-md-1">
    <a class="btn btn-red"  href="{% url 'hotel:review'  %}"> Add review</a>
    </div>
{% else %}
    <div class="col-md-1">
<p style="text-align:justify">If you want to leave a review, please login
    <a href="{% url 'users:login' %}">here</a></p>
    </div>
{% endif%}
</div>
<hr>
 <br>

<div class="row align-items-center">

{% for customer_review in review_list %}
    <div class="col-md-1">
        <div class="avatar mx-auto white"><img src="{{ MEDIA_URL }}{{ customer_review.customer.profile.avatar }}"
            class="rounded-circle img-fluid">
        </div>
    </div>

    <div class="col-md-2">

    <p>Customer: {{ customer_review.customer.first_name }} {{ customer_review.customer.last_name }}</p>
    <p>Review: {{ customer_review.comment }}</p>
    <p>Date: {{ customer_review.date }}</p>
        <p>Rating: <big>{{ customer_review.stars }} </big></p>
        <hr>
     </div>
{% endfor %}



</div>
<hr>
<br><br>
<!--Section: Best Features-->
<section id="best-features" class="text-center">

    <!-- Heading -->
    <h2 class="mb-5 font-weight-bold">Best Features</h2>

    <!--Grid row-->
    <div class="row d-flex justify-content-center mb-4"></div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row">

        <!--Grid column-->
        {% for feature in best_feature_list %}

        <div class="col-md-4 mb-5">

            <i class="fa fa-{{ feature.icon }} fa-{{ feature.size }} {{ feature.color }}-text"></i>
            <h4 class="my-4 font-weight-bold">{{ feature.title }}</h4>
             <p class="grey-text" style="text-align:justify">{{ feature.body }}</p>

        </div>

        {% endfor %}
      <!--Grid column-->

    </div>
    <!--Grid row-->

</section>
<hr>
<!--Section: Best Features-->





{% endblock content %}