{% extends "home_page.html" %}
{% load static %}
<html>

<head>
    <title> Hotels </title>
</head>


<body>
    <div class='menu-container'>
        <div class='menu'>
            <div>
                <p>
                    Click <a href="{% url 'hotel:create' %}"> here </a> to create a new hotel
                </p>
            </div>
        </div>

    </div>

    {% block search_bar %}
    {% endblock search_bar %}

    {% block hotel%}
        {% for hotel in hotel_list %}
            <div class="col-lg-4 col-md-6 mb-4">

                <div class="view overlay z-depth-3-half">

                    <img src="https://mdbootstrap.com/img/Photos/Others/images/49.jpg" class="img-fluid" alt="">
                    <div class="mask rgba-white-slight"></div>
                    <span class="badge badge-danger">
                    Danger</span>
                    <!-- vreau sa las utilizatorul sa puna tag: Oferta, Reducere, Last minute-->
                </div>

                <div>
                    <h4 class="my-4 font-weight-bold">Name: {{ hotel.name }}</h4>
                    <p> Location: {{ hotel.location }} </p>
                    <p> Owner: {{ hotel.owner}} </p>
                    <p> Room: {{ hotel.room}} </p>
                    <p> Review: {{ hotel.review}} </p>
                    <p class="grey-text">Descriere locatie</p>
                </div>
                    <a href="{% url 'hotel:details' hotel.id %}" class="btn btn-primary">
                    View details</a>
            </div>

        {% endfor %}

        {% include 'snippets/legacy_snippet.html' %}

    {% endblock hotel%}

</body>

</html>