{% extends "home_page.html" %}
{% load static %}
{% block hotel%}


<div class="row">
    <div class="col-lg-4 ">
        <h3> And the winner is : {{ rand_location.name }} </h3>
                <h4 class="my-4 font-weight-bold">
                    <br>
            Name: {{ rand_location.name }}</h4>
        <p> Location: {{ rand_location.location }} </p>
        <p> Owner: {{ rand_location.owner }} </p>

        <p> Review: {{ rand_location.review }} </p>
        <p class="grey-text">Descriere locatie</p>

    </div>

    <div class="col-lg-4 ">
    <div class="view overlay z-depth-3-half">

        {% if rand_location.hotel_picture %}

            <img src="{{ MEDIA_URL }}{{ rand_location.hotel_picture }}" class="img-fluid" alt=""/>
            <div class="mask rgba-white-slight"></div>

        {% else %}

            <img src="{{ MEDIA_URL }}/hotel_picture/arena.jpg"
                 class="img-fluid" alt="">
            <div class="mask rgba-white-slight"></div>

        {% endif %}

        {% for badge in badge_list %}

            {% if badge.hotel_k_id == rand_location.id %}
            <span class="badge badge-{{ badge.color }}">
            <i class="fas fa-{{ badge.icon }} pr-2" aria-hidden="true"></i>{{ badge.text }}</span>
            {% endif %}

        {% endfor %}


    </div>
        </div>


    <div class="col-lg-4">

    </div>


    <div  class="container-fluid d-flex align-items-center justify-content-center">
        <a href="{% url 'hotel:details' rand_location.id %}" class="btn btn-primary">

            View details</a>


        <a class="button"  href="{% url 'hotel:room' rand_location.id  %}">
        <h4>  <i class="fas fa-star mr-1 " ></i> View Rooms </h4></a>
        <br>
    </div>


</div>


{% endblock hotel %}