{% if user.is_staff %}
<form   action="{% url 'hotel:room_add' %}" method="post" class="col-md-4 mb-5" >
        {% csrf_token %}




        <label >Name</label>
        <div class="col-md-4 mb-5">
            <input type="text" name="name" />
        </div>

        <label>Room type</label>
        <div class="col-md-4 mb-5">

            <input type="text" name="room_type"/>
        </div>

        <label>Bathroom</label>
        <div class="col-md-4 mb-5">
            <input type="checkbox" name="bathroom" value="True"/>
        </div>


        <label>Balcony</label>
        <div class="col-md-4 mb-5">
            <input type="checkbox" name="balcony" value="True"/>
        </div>


            <div class="col-md-4 mb-5">
            <input type="submit" name='Update' class="btn btn-green mt-4" value="Create">
        </div>

</form>

{% endif  %}
