
<!-- Footer -->
<footer class="page-footer font-small blue " style=" margin: 10px 5px 5px 5px">
    <div class="row ">
    <div class="container mt-3 mb-3 text-center text-center">

    <nav class="navbar navbar-expand-lg navbar-dark blue-color" >

                <button class="navbar-toggler danger-color" type="button" data-toggle="collapse" data-target="#basicF" aria-controls="basicF"
                  aria-expanded="false" aria-label="Toggle navigation">
                    <strong> Useful links </strong>
                  <span class="navbar-toggler-icon"></span>
                </button>
            <!-- Collapse button -->

                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicF">

          <!--Footer Links-->

                 <!-- Collapse button -->


                <!--First column-->
            <br>
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>About us</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 75px;">

                    <p>
                        <a href="/"> Our legacy </a>


                    </p>
                    <p>
                        <a href="#!"> Careers </a>
                    </p>
                    <p>
                        <a href="#!">  </a>
                    </p>
                </div>

                <!--/.First column-->

                <!--Second column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Customer Service</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 150px;">
                    <p>
                        <a href="#!">How We Work </a>
                    </p>
                    <p>
                        <a href="#!">Terms & conditions </a>
                    </p>
                    <p>
                        <a href="#!">Dispute resolution </a>
                    </p>
                    <p>
                        <a href="#!">Privacy & cookie statement </a>
                    </p>
                </div>
                <!--/.Second column-->

                <!--Third column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Useful links</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 106px;">
                    <p>
                        <a href="#!">Your Account</a>
                    </p>
                    <p>
                        <a href="#!">Become an Affiliate</a>
                    </p>
                    <p >
                        <a href="#!">Safety Resource Center</a>
                    </p>
                    <p>
                        <a href="#!">Coronavirus (COVID-19) FAQs</a>
                    </p>
                </div>
                <!--/.Third column-->

                <!--Fourth column-->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <h6 class="text-uppercase font-weight-bold">
                        <strong>Contact</strong>
                    </h6>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 70px;">
                    <p>
                        <i class="fa fa-home mr-2"></i> Craiova, str Penes Curcanul, nr 6 </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> contact@visit.ro</p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> 0040723229793</p>
                    <p>
                        <i class="fa fa-print mr-3"></i> 0040351411631</p>
                </div>
                <!--/.Fourth column-->


                  </div>
            </nav>
                    </div>
        </div>
 <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
</footer>