

  <header style="margin: 10px 10px 10px 10px">
  <!--Main Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark primary-color" style="
        letter-spacing: 3px ; font-weight: bold;">

          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>


          </button>
            <!-- Collapse button -->

                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicExampleNav">

                      <!-- Buttons -->
                <br><br>
              <ul class="navbar-nav ml-4">
                  <li class="nav-item ">

                      <a class="nav-link " href="/">Home
                          <span class="sr-only">(current)</span>
                      </a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'hotel:list' %}">Hotel</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'hotel:random' %}">Random</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'review:app_review' %}">Review</a>
                  </li>

                  <li class="nav-item">
                      <a class="nav-link" href="{% url 'users:contact' %}">Contact</a>
                  </li>

              </ul>
                        <!-- Buttons -->



            </div>

             <!-- Buttons for user -->
            <div class="navbar-nav ml-4" >
                <div class="row">

                    {% if user.is_authenticated %}

                    <div class="nav-link white-text mr-2">
                        <p>Welcome, {{ user.first_name }}!</p>
                    </div>



                    <a class="nav-link white-text mr-2" href="{% url 'users:logout' %}">Logout</a>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:profile' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-heart ml-1 " ></i>
                              Profile</span></a>
                    </p>

                    {% else %}

                    <p class="nav-item ">
                      <a class="nav-link white-text mr-2" href="{% url 'users:login' %}">
                          <i class="fas fa-user white-text" aria-hidden="true"></i>Login</a>
                    </p>

                    <p class="nav-item" style="font-weight: bold">
                      <a class="nav-link mr-4" href="{% url 'users:register' %}">
                          <span class="badge badge-pill badge-danger" >
                              <i class="far fa-gem ml-1 " ></i>
                              Register</span></a>
                    </p>


                {% endif %}
                </div>
            </div>
            <!-- Buttons for user -->
        </nav>


      <!--Staff Navigation Bar-->
      {% if user.is_staff %}
      <nav class="navbar navbar-expand-lg navbar-dark danger-color" style="
        letter-spacing: 3px ; font-weight: bold;">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicNav" aria-controls="basicNav"
              aria-expanded="false" aria-label="Navigation">
              <span class="navbar-toggler-icon"></span>
              <strong>Staff nav bar</strong>
          </button>
                  <!-- Collapsible content -->
            <div class="collapse navbar-collapse" id="basicNav">
                      <!-- Links -->
                <br><br>

                <a class="nav-link white-text mr-2" href="{% url 'hotel:create' %}">
                        <i class="fas fa-magic mr-1"></i> Create Hotel</a>


            </div>
      </nav>
         {% endif %}
      <!--Staff Navigation Bar-->
    </header>
