{% extends "home_page.html" %}
{% load static %}
{% block content%}


<h2>About Romania</h2>
<div class="row">
<div class="col-md-5" style="text-align:justify" >
<p>Romania has a rich cultural and natural diversity. Its dramatic mountain scenery includes the densely forested
    Carpathian Mountains, picturesque valleys and miles of fine white sandy beaches on the Black Sea Coast.</p>
<p>The first post of call for most travellers is the bustling capital, Bucharest, which was once known as ‘Little Paris’
    due to its sophisticated charm. Crammed with grand architecture, fascinating museums and traditional restaurants,
    it’s well worth a few days exploration. So too are the resorts along the Black Sea Coast, which surprise many with
    their stunning sandy beaches and ocean panoramas.</p>
<p>Ultimately, though, Romania remains defined by its small, rural communities, many of which still depend on ancient
    agricultural practices. From the isolated villages clinging to the Carpathian Mountains to the Saxon towns of
    Transylvania, a tour of Romania’s backcountry will uncover traditional ways of life and a treasure chest of cultural
    gems.</p>

<p>It is, of course, practically illegal to talk about Transylvania without mentioning the legend of Dracula.
    The Romanians are all too well aware of the interest in Bram Stoker’s fictional vampire and the castle at Bran
    ( supposedly the spot that inspired Stoker’s story) has been transformed into one of the country’s top tourist
    attractions.</p>

<p>Elsewhere the forests covering the Carpathian Mountains shelter some of Europe's last remaining brown bears,
    wolves and lynxes, while racoon dogs and rare muskrats gather around the rivers.</p>

<p>While Romania offers travellers the chance to immerse themselves in a defiantly traditional way of life, that isn’t
    to say the locals don’t appreciate their creature comforts. The natural spas scattered across the country purport
    to cure everything from rheumatism to heart disease, and make a luxurious finale to any Romanian adventure.</p>
</div>
<div class="col-md-2" >
</div>
<div class="col-md-5" >
    <br>
    <div class="d-flex align-items-stretch">

 <img  src=" {% static 'images/r_map.jpg' %}">
</div>
    </div>
</div>

   <div class="row" >

        {% include 'snippets/youtube_snippet.html' %}

    </div>

{% endblock content%}