{% extends "home_page.html" %}
{% load static %}
{% block content %}
  {% block title %}
  <title> Duluman Cristian - Auronat </title>
  {% endblock title %}

<div class="container z-depth-1 my-5 py-5 px-4 px-lg-0">

  <!-- Section -->
  <section>

    <style>
      .timeline {
        position: relative;
        list-style: none;
        padding: 1rem 0;
        margin: 0;
      }

      .timeline::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 2px;
        margin-left: -1px;
        background-color: #50a1ff;
      }

      .timeline-element {
        position: relative;
        width: 50%;
        padding: 1rem 0;
        padding-right: 2.5rem;
        text-align: right;
      }

      .timeline-element::before {
        content: '';
        position: absolute;
        right: -8px;
        top: 1.35rem;
        display: inline-block;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 2px solid #50a1ff;
        background-color: #fff;
      }

      .timeline-element:nth-child(even)::before {
        right: auto;
        left: -8px;
      }

      .timeline-element:nth-child(even) {
        margin-left: 50%;
        padding-left: 2.5rem;
        padding-right: 0;
        text-align: left;
      }

      @media (max-width: 767.98px) {
        .timeline::before {
          left: 8px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element {
          width: 100%;
          text-align: left;
          padding-left: 2.5rem;
          padding-right: 0;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element::before {
          top: 1.25rem;
          left: 1px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element:nth-child(even) {
          margin-left: 0rem;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element {
          width: 100%;
          text-align: left;
          padding-left: 2.5rem;
          padding-right: 0;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element:nth-child(even)::before {
          left: 1px;
        }
      }

      @media (max-width: 767.98px) {
        .timeline-element::before {
          top: 1.25rem;
        }
      }
    </style>

    <h3 class="font-weight-bold text-center dark-grey-text pb-2">ABOUT ME</h3>
    <hr class="w-header my-4">
    <p class="lead text-center text-muted pt-2 mb-5"> Network Technical Support with a demonstrated history of working in the telecommunications industry. Skilled in English, Customer Service, Teamwork, Telecommunications. Strong information technology professional with a Master’s Degree focused in E-Business Management from Universitatea din Craiova. Eager to earn web development skills, freshly graduated Pyhton Development course from The Informal School IT. </p>

    <div class="row">
      <div class="col-lg-6 mx-auto">

        <ol class="timeline">
            {% for job in jobs %}
          <li class="timeline-element">
            <img style="width: 200px;" src="{{ MEDIA_URL }}{{ job.image }}"/>
             <br>
            <h5 class="font-weight-bold dark-grey-text mb-3">{{ job.title }}</h5>
            <p class="font-small">{{ job.date }}</p>
            <p class="text-muted">{{ job.summary }}</p>
            <br>
            <br>
            <br>
          </li>
            {% endfor %}

        </ol>

      </div>
      <hr>

        <div class="col-lg-6 mx-auto">

        <ol class="timeline">
            {% for education in ed %}
          <li class="timeline-element">
            <h5 class="font-weight-bold dark-grey-text mb-3">{{ education.title }}</h5>
            <p class="grey-text font-small">{{ education.date }}</p>
            <p class="text-muted">{{ education.summary }}</p>
          </li>
            {% endfor %}

        </ol>

      </div>

    </div>

  </section>
  <!-- Section -->

</div>



{% endblock content %}
